<div class="wrapper lato-regular" style="text-align:center">
  <h1>Алгоритм Кнута-Морріса-Пратта</h1>
  <p class="description">
    Алгоритм Кнута-Морріса-Пратта був розроблений для вирішення проблеми ефективного пошуку підрядка в рядку. Його
    основна мета полягає в зменшенні кількості порівнянь символів шляхом попередньої обробки підрядка, що дозволяє
    значно прискорити процес пошуку. КМП ефективно використовується в різних галузях, де необхідно знайти вхождення
    підрядка у великому тексті.
  </p>
  <p class="description">
    Проблема, яку вирішує КМП:
    Уявімо, що у нас є великий текст (рядок) і ми хочемо знайти в ньому всі вхождення деякого слова (підрядка). Наївний
    метод передбачає порівняння кожного символу тексту з символами підрядка, що призводить до великої кількості
    непотрібних порівнянь і, відповідно, до зниження ефективності. КМП пропонує оптимізоване рішення цієї проблеми.
  </p>
  <p class="description">
    Першим кроком алгоритму є створення таблиці префіксів для підрядка. Ця таблиця містить інформацію про довжину
    найбільшого префікса підрядка, який одночасно є і його суфіксом. Таблиця дозволяє швидко визначити, скільки символів
    можна пропустити після кожного невдалого порівняння, що зменшує кількість порівнянь у процесі пошуку.
  </p>
  <p class="description">
    Використовуючи таблицю префіксів, алгоритм починає порівнювати підрядок з текстом. Якщо відбувається невідповідність
    символів, алгоритм використовує інформацію з таблиці для зсуву підрядка вперед на кількість символів, рівну значенню
    в таблиці. Це дозволяє уникнути повторних порівнянь вже перевірених символів.
  </p>
</div>
