<div class="wrapper lato-regular" style="text-align:center">
  <h1>Опис Інтерфейсу</h1>
  <p class="description">
    Наш сайт надає користувачам унікальну можливість дослідити та зрозуміти, як працює алгоритм Кнута-Морріса-Пратта
    (КМП). Основний інтерфейс складається з головної сторінки, сторінки опису алгоритму та сторінки опису інтерфейсу. На
    головній сторінці відображається заголовок, який містить назву алгоритму, та коротке пояснення його суті і
    застосування для пошуку підрядка в рядку. Також є можливість завантажити різні приклади, щоб побачити алгоритм в
    дії. Сторінка опису алгоритму містить детальний теоретичний опис принципів роботи алгоритму КМП, а також
    інтерактивну демонстрацію роботи алгоритму з кроками, які пояснюють процес порівняння символів і побудови масиву LPS
    (Longest Prefix Suffix).
  </p>
  <p class="description">
    На сторінці опису інтерфейсу користувачі знайдуть поля для введення тексту та шаблону, які будуть використовуватися
    для пошуку, можливість завантажити текстовий файл для аналізу, кнопки для запуску пошуку, детального пошуку та
    скидання введених даних. Результати пошуку відображаються з зазначенням позицій, де знайдено шаблон, і з можливістю
    покрокового перегляду процесу пошуку. Користувачі також можуть використовувати кнопки для перемикання між кроками,
    автоматичний режим та регулювання швидкості демонстрації.
  </p>
  <p class="description">
    Навігаційна панель містить посилання для швидкого доступу до головної сторінки, сторінки опису алгоритму та сторінки
    опису інтерфейсу. Вона оптимізована для зручного перегляду як на великих екранах, так і на мобільних пристроях. Цей
    інтерфейс надає користувачам зручний та інтуїтивно зрозумілий спосіб для навчання та експериментів з алгоритмом
    Кнута-Морріса-Пратта. Користувачі можуть легко вводити власні дані, переглядати результати та детально аналізувати
    роботу алгоритму.
  </p>
</div>
